@model BanhHang_MVC.DanhSachSanPham

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DanhSachSanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madm)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
